body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #111111;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 18px;
}
h3, h4, h5, h6 {
    margin-top: 17px;
    margin-bottom: 0;
    line-height: 24px;
}
h1 {
    background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34.64 30'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23111;%7D.cls-2%7Bfill:%23dfdfdf;%7D.cls-3%7Bfill:%23adadad;%7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpolygon class='cls-1' points='16.57 16.8 16.57 10.86 0 1.3 3.66 7.63 16.57 16.8'/%3E%3Cpolygon class='cls-2' points='33.88 0 0.75 0 17.32 9.56 33.88 0'/%3E%3Cpolygon class='cls-3' points='18.07 16.8 30.98 7.63 34.64 1.3 18.07 10.86 18.07 16.8'/%3E%3Cpolygon class='cls-2' points='16.57 18.63 5.45 10.74 16.57 29.99 16.57 18.63'/%3E%3Cpolygon class='cls-1' points='18.07 18.64 18.07 30 29.19 10.74 18.07 18.64'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 0 2px transparent;

    background-size: auto 20px;
    line-height: 22px;
    height: 25px;
    padding-left: 31px;
    font-size: 16px;
    color: #111111;
    font-weight: 600;
    margin-top: 10px
}
.main-link {
    text-decoration: none!important;
}
.join-btn .btn {
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 50px;
}
.dropdown-toggle::after {
    display: none;
}

h2 {
    margin-top: 9px;
    margin-bottom: 0;
    line-height: 24px;
}
strong, b {
    font-weight: 600;
}
section article:last-child {
    min-height: calc(100vh - 80px);
}
.h2 {
    font-size: 30px;
    font-weight: 300;
}
.mover {
    transition: top 0.3s ease-in-out;
    position: fixed;
    max-width: 220px;
}
.moverCont {
    position: relative;
    max-width: 235px;
}
a {
    color: #238FE1;
}
p {
    margin-top: 0;
    margin-bottom: 17px;
}
button {
    outline: none !important;
}
.nav-link {
    padding: 8px 0 8px 0;
    border-top: 0.5px solid  rgba(35, 143, 225, 0.5);
    width: 100%;
}
nav.nav {
    width: 100%;
}
.nav .nav-link:first-child {
    padding-top: 0;
    border-top: none;
}
.nav-link.active {
    color: #111111;
}
.navbar-toggler {
    border: none;
    margin-top: -18px;
    padding-right: 0;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23212529' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar {
    padding: 0 0 10px 0;
}
.container {
    max-width: 960px;
    padding-top: 27px;
}
.btn {
    border-radius: 3px;
}
.btn-primary {
    border-color: #238FE1;
    font-weight: 400;
    background: #238FE1;
}
.btn-primary:hover {
    color: #fff;
    background: #2184ce;
}
.btn-lang {
    outline: none!important;
    box-shadow: none!important;
    font-weight: 300;
    font-size: 1rem;
    padding: 0;
}
.lang .dropdown-item {
    font-weight: 300;
    font-size: 1rem;
}
.lang img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.btn-lang img {
    margin-right: 0;
}
nav .lang img {
    margin-top: 10px;
}
@media (max-width: 768px) {
    h1 {
        margin-top: 0;
    }
    section {
        margin-bottom: 80px;
    }
    .container {
        padding-top: 90px;
    }
    .navbar {
        padding: 20px 20px 0 20px;
        position: fixed;
        width: 100%;
        z-index: 10;
        background-color: #fff;
        top: 0;
        left: 0;
        box-shadow: 0 0 3px 0 #212529;
    }
    .navbar nav {
        margin-bottom: 10px;
    }
    .mover {
        position: relative;
    }
    .join-btn {
        position: fixed;
        bottom: 20px;
        width: 100%;
        margin: 0 auto;
        z-index: 10;
        left: 0;
    }
    .join-btn .btn {
        max-width: 270px;
        margin: 0 auto;
        display: block !important;
    }
}